@import "tailwindcss";

@layer base {
  .font-roboto {
    font-family: var(--font-roboto), sans-serif;
  }

  .font-oswald {
    font-family: var(--font-oswald), sans-serif;
  }

  h2 {
    @apply text-4xl md:text-5xl lg:text-7xl;
  }

  p {
    @apply text-base md:text-[22px];
  }

  body {
    background: var(--background);
  }
}

@theme {
  --font-roboto: var(--font-roboto);
  --font-oswald: var(--font-oswald);
  --background: #fdfdfd;
  --blue: #cce4f0;
  --footer-links: rgba(217, 217, 217, 0.8);
  --light-blue: #eff4f7;
  --color-gray: #3f3f3f;
  --container-8xl: 1560px;
  --color-white: var(--background);
  --color-paragraph: var(--gray);
  --color-black: var(--black);
  --color-blue: var(--blue);
  --color-flink: var(--footer-links);
  --color-light-blue: var(--light-blue);

  --breakpoint-3xl: 117rem; /*це жесть хардкод для фідбеку, щоб на 1880 були максимальні інпути, а на трохи меньшій були інші*/
  --breakpoint-xs: 23rem;
} /* Для доступу у тейлванді*/

:root {
  --background: #fdfdfd;
  --blue: #cce4f0;
  --footer-links: #d9d9d9;
  --light-blue: #eff4f7;
  --gray: #3f3f3f;
  --black: #0d0d0d;
  --container-8xl: 97.5rem;

  --color-white: var(--background);
  --color-foreground: var(--foreground);
  --color-paragraph: var(--gray);
  --color-black: var(--black);
  --color-blue: var(--blue);
  --color-flink: var(--footer-links);
  --color-light-blue: var(--light-blue);
}

html {
  scroll-behavior: smooth;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  position: relative;
  min-width: 200px;
  flex: 0 0 100%;
}
